<div class="col-md-4" id="outlet" style="cursor:pointer">
    <a href="#" style="text-decoration:none">
        <div class="card h-100 border-0">
            <img src="<%= data.imgPath %>" class="card-img-top" alt="<%= data.imgAlt %>" style="height: 180px;">
            <div class="card-body">
                <h5 class="card-title fw-semibold"><%= data.name %></h5>
                <p class="card-text"><%= data.address %></p>
            </div>
    </div>
    </a>
</div>