<%- include('partials/header.ejs') %>

<div class="container my-5 text-center">
    <h2 class="mb-4">CHECKOUT</h2>

    <p class="text-success fw-semibold">Berkas Berhasil Terkirim</p>
    <p class="text-success">
      Verifikasi akan Dikirim Melalui WhatsApp maksimal H+24
    </p>
</div>

<div style="height:200px;">

</div>

<%- include('partials/footer.ejs') %>